.item{
    margin-bottom: 10px;
    background-color:$color-orangeFanta;
}
.selected{
    background-color: $color-redBlood;
    color: $color-whiteSnow;
}
.container{
    display:flex;
    margin: 15px;
}
.title_section{
    font-size: 15px;
}
.fav_title{
    font-size: 10px;
}

.fav_img{
    width: 80px;
    height: 80px;
}
