$color-whiteSnow: #f3f4f5;
$color-redBlood: red;
$color-orangeFanta: orange;
$color-blackBatman: black;

$color-bluePalette700: #2F4858;
$color-bluePalette400: #4B5780;
$color-bluePalette100:#7E89B5;
$color-greyPalette400:#737687;
$color-greyPalette100: #9BAEBC;
$color-greyPalette000:#E8EFFF;


$color-purplePalette400: #635F8E;
$color-pinkPalette400: #CE5B89;
$color-yellowPaltte100: #F9F871;



